<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEC Scholarship Application</title>
    <link rel="stylesheet" href="/static/style6.css">
</head>
<body>
    <header>
        <h1 id="header-heading">
            JEC Scholarship Applications
        </h1>
        <a id="logout-btn" href="{% url "logout" %}"> Logout</a>
    </header>
    <section>
        <h1 id="form-heading">JEC Scholarship Application</h1>
        <div id="form_container">
            <h1 class="sideHeadings" id="perInfoHead">Document Upload</h1>
            <form id="login-form" action="{% url "home" %}" method="post">
                {% csrf_token %}
                <div id="left_form_section">
                    <label for="username" class="labels">Caste Certificate</label>
                    <label for="password" class="labels"> Income Certificate</label>
                    <label for="gender" class="labels">Aadhaar Card</label>
                    <label for="category" class="labels">Photograph</label>
                    <label for="category" class="labels">Sign of Applicant</label>
                    <label for="category" class="labels">Fee Receipt or Admission Letter from the Institution</label>
                
                </div>
                <div id="right_form_section">
                    <input type="file" name="caste_certi" id="acc_num_name" class="input_fields" required>
                    <input type="file" name="income_certi" id="dob_input" class="input_fields" required>
                    <input type="file" name="Aadhaar_card" id="dob_input" class="input_fields" required>
                    <input type="file" name="photo" id="dob_input" class="input_fields" required>
                    <input type="file" name="sign" id="dob_input" class="input_fields" required>
                    <input type="file" name="fee_receipt" id="dob_input" class="input_fields" required>
                    <div style="text-align: right;">
                        <input type="submit" value="Submit" class="form-btn">
                        <input type="reset" value="Reset" id="reset_btn" class="form-btn">
                    </div>
                </div>
                
            </form><br>
            
        </div>
    </section>
</body>
</html>